{% extends "base.html" %}
{% block body %}
    <div class="span10">
        {% for photo_block in photos %}
        <div class="row-fluid">
            {% for photo in photo_block %}
            <div class="span2">
                <a href="{{ photo['link'] }}">
                    <img src="{{ photo['thumbnail'] }}" alt="{{ photo['title'] }}">
                </a>
            </div><!--/span-->
            {% endfor %}
        </div><!--/row-->
        <hr>
        {% endfor %}
    </div><!--/span-->
    </div><!--/row-->

    <hr>
{% endblock %}