{% extends "base.html" %}
{% block body %}
    <div class="span10">
        <div class="row-fluid">
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
        </div><!--/row-->
        <hr>
        <div class="row-fluid">
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
        </div><!--/row-->
        <hr>
        <div class="row-fluid">
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
        </div><!--/row-->
        <hr>
        <div class="row-fluid">
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
            <div class="span2">
                <img src="http://placekitten.com/200/200">
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/span-->
    </div><!--/row-->

    <hr>
{% endblock %}